@import "../../style-guide";

@media screen and (max-width: 799px) {
    .GalleryItem {
        width: 100%;
        height: 50vh;
        z-index: 1;
        margin-bottom: 5%;
    }

    .GalleryItem img {
        width: 100%;
        height: 80%;
    }

    .GalleryTitle {
        font-family: $font-primary;
        font-size: $font-size--medium;
        text-align: center;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    .GalleryDescription {
        font-size: $font-size--smallest;
        text-align: center;
        padding: 10px
    }
}

.ProductLink {
    text-decoration: none;
    color: black;
}

.ProductLink:visited {
    color: black;
}
