@media screen and (min-width: 800px) {
    .GalleryItem {
        flex: 1 0 40%;
        height: 450px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        z-index: 1;
        box-sizing: border-box;
        border-style: solid;
        border-width: 0px;
        border-radius: 20px;
        box-shadow: 2px 2px 3px 0px;
    }

    .GalleryItem img {
        width: 100%;
        height: 350px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .GalleryTitle {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    .GalleryDescription {
        text-align: center;
        font-size: 14px;
        padding: 10px
    }
}

@media screen and (max-width: 550px) {
    .GalleryItem {
        width: 100%;
        height: 390px;
        z-index: 1;
    }

    .GalleryItem img {
        width: 100%;
        height: 300px;
    }

    .GalleryTitle {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    .GalleryDescription {
        text-align: center;
        font-size: 14px;
        padding: 10px
    }

    .GalleryItem:last-of-type {
        margin-bottom: 15px;
    }
}

.ProductLink {
    text-decoration: none;
    color: black;
}

.ProductLink:visited {
    color: black;
}

