.gallery-page {
    display: flex;
    flex-direction: column;
    margin: auto;

    &:before {
        content: "";
        position: fixed;
        right: 0;
        z-index: -1;
        
        display: block;
        background-image: url('https://images.unsplash.com/photo-1427401444281-173f2183013c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
        background-size: cover;
        opacity: .7;
        width: 100%;
        height: calc(100% + 85px);
        
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
      }
}

.gallery-page--items {
    // margin-left: 1em;
    align-items: center;
    justify-content: center;
    padding-bottom: 4vh;
}
