.appbar {
    position: fixed;
    z-index: 999;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    color: black;
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    justify-content: space-between;
    box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.5);

    .appbar--logo {
        display: flex;
        flex-direction: row;
        align-items: center;


        .appbar--logo-icon {
            height: 55px;
            width: 55px;
            padding: 0px 3px 0px 10px;
        }
    
        .appbar--logo-title {
            font-family: 'Dancing Script', cursive;
            font-weight: bold;
            font-size: 30px;
            text-decoration: none;
            color: black;
        }
        
        .heading:visited {
            color: black;
        }
    }

}


.icons {
    padding-top: 5px;
    padding-right: 10px;
}

.cartIcon {
    cursor: pointer;
    margin-right: 15px;
    font-size: 24px;
}

.cartIcon:hover {
    color: #eeeeee;
}

.cartLink {
    text-decoration: none;
    color: black;
}

.cartLink:visited {
    text-decoration: none;
    color: black;
}

.menuIcon {
    cursor: pointer;
    margin-right: 5px;
    font-size: 24px;
}

.menuIcon:hover {
    color: #eeeeee;
}