.desktop-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  .slides-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  
      .slide-grouping-wrapper {
        display: inline-block;
        width: 100%;
      }
  }

  
  .right-arrow, .left-arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  
    &:hover {
      transition: transform ease-in .1s;
      transform: scale(1.1)
    }
  }
  
  .right-arrow {
    position: absolute;
    right: 3%;
    z-index: 999;
    color: #fff;
  
      &:focus {
        outline: 0;
      }
  }
  
  .left-arrow {
    position: absolute;
    left: 3%;
    z-index: 999;
    color: #fff;
  
      &:focus {
        outline: 0;
      }
  }
}