@media screen and (min-width: 900px) {
  .nav-width {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 18%;
  }

  .cartIcon {
    cursor: pointer;
    margin-right: 15px;
    font-size: 33px;

    &:hover {
      color: #eeeeee;
    }
  }

  .search-icon {
    position: fixed;
    z-index: 999;
    top: 25px;
    right: 100px;
    cursor: pointer;
    font-size: 33px;

    &:hover {
      color: #eeeeee;
    }
  }

  .cartLink {
    position: fixed;
    z-index: 999;
    top: 25px;
    right: 40px;
    text-decoration: none;
    color: black;

    &:visited {
      text-decoration: none;
      color: black;
    }
  }
}
