@media screen and (min-width: 900px) {
  .nav-width {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 18%;
  }

  .cartIcon {
    cursor: pointer;
    margin-right: 15px;
    font-size: 24px;
  }

  .cartIcon:hover {
    color: #eeeeee;
  }

  .cartLink {
    position: fixed;
    z-index: 999;
    top: 40px;
    right: 40px;
    text-decoration: none;
    color: black;
  }

  .cartLink:visited {
    text-decoration: none;
    color: black;
  }
}
