.TotalLabels {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 7%;
}

.TotalLabel {
  padding-right: 2.5em;
}


.CheckoutButton {
  width: 100px;
  text-align: center;
  border-radius: 12px;
  background-color: #fff7f7;
  padding: 20px 30px;
  margin-top: 25px;
  margin-left: calc(50% - 80px);
}

.CheckoutButton:hover {
  background-color: rgba(255, 247, 247, .3);
  cursor: pointer;
}