.scroller-item {
  position: relative;
  z-index: 1;
  cursor: pointer;

  img {
    height: 22vh;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.5);
  } 

  @media screen and (max-width: 1400px) {
    img {
      height: 18vh;
    }
  }

  &:hover {
    transition: transform ease-in .1s;
    transform: scale(1.02);
  }
}

.price-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
  border: solid .5px rgba(0,0,0,.3);
  padding: 10px 5%;
  margin: 2px 30px 15px 30px;
  border-radius: 10px;
  font-family: Lato, sans-serif;
}

.title {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

.page-link {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }
}
