.PageHeading {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
}
@media screen and (min-width: 800px) {
    .PageHeading {
        font-size: 30px;
    }
}