@import "../../style-guide";

.submit-payment-toast--success {
    border-radius: 10px;
    box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.submit-payment-toast--error {
    border-radius: 10px;
    box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.checkout--payment-forms---wrapper {
    margin-bottom: 5%;
    padding-bottom: 2%;
    border-radius: 10px;

    .checkout--payment-details {
        display: flex;
        justify-content: center;
        text-align: left;
        margin-bottom: 40px;
        
        table {
            border: 1px solid lightgray;
            border-radius: 15px;

            padding: 15px 40px 15px 40px;
            
            tr {
                td {
                    font-size: $font-size--smallest;
                    padding: 5px;
                    padding-right: 20px;
                    padding-left: 20px;
                }
            }
        }
    }

    input,
    select {
        font-size: 12px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .contact-header {
        font-size: $font-size--smallest;
        font-family: $font-secondary;
        font-weight: 300;
        text-align: center;
    }

    .checkout--payment-forms {
        .checkout--payment-forms---header {
            font-size: 16px;
            font-weight: 300;
        }

        .checkout--payment-forms---contact {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            text-align: center;

            input,
            select {
                font-size: 12px;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;
                max-width: 250px;
            }
        }

        .checkout--payment-forms---shipping {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            text-align: center;

            input,
            select {
                width: 150px;
            }
        }
    }

    .checkout-form {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
        opacity: 1;
        background-color: white;
        color: black;

        .checkout-form--submit {
            font-size: 18px;
            text-transform: capitalize;
            margin-top: 20px;
            background-color: $secondary-color;
            box-shadow: $box-shadow;
        }
    }

    .checkout--payment-forms---billing-toggle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: none;
        margin-bottom: 15px;
        font-size: 16px;

        .checkout--payment-forms---billing-toggle {
            background: white;
            text-transform: capitalize;
            padding: 10px;
            box-shadow: $box-shadow;
            width: 200px;
        }

        .checkout--payment-forms---billing-toggle-active {
            background: $primary-color;
        }
    }

    .checkout--payment-forms---billing-info {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

        input,
        select {
            width: 150px;
        }
    }
}

@media screen and (min-width: 901px) {
    .checkout--payment-forms---wrapper {
        background-color: rgb(255, 255, 255);
        margin-top: 25px;
        margin-left: 14%;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        width: 72%;

        .contact-header {
            font-size: $font-size--small;
            font-family: $font-secondary;
            font-weight: 300;
            text-align: center;
        }

        .checkout--payment-forms {
            .checkout--payment-forms---header {
                font-size: 20px;
                font-weight: 300;
            }

            .checkout--payment-forms---contact {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                grid-gap: 10px;
                text-align: center;

                input,
                select {
                    font-size: 14px;
                    width: 300px;
                }
            }

            .checkout--payment-forms---shipping {
                grid-gap: 10px;
                margin: 0px 3.7%;

                input,
                select {
                    font-size: 14px;
                    width: 300px;
                }
            }
        }

        .checkout--payment-forms---billing-info {
            input,
            select {
                width: 300px;
            }
        }

        .checkout-form {
            margin: auto;
            width: 40%;

            .checkout-form--submit {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .checkout--payment-forms---wrapper {
        .contact-header {
            margin: 0;
            padding: 10px 0 20px 0;
            font-size: 22px;
        }

        .checkout--payment-forms---segment {
            background-color: white;
            box-shadow: $box-shadow;
            margin: 0 20px 20px 20px;
            border-radius: 10px;
            padding: 5px 0 10px 0;
        }


        .checkout-form {
            padding: 0 20px 20px 20px;
            border-radius: 10px;
            background-color: white;
            margin: 0 20px;
            box-shadow: $box-shadow;
        }

        .checkout--payment-forms---billing-toggle {
            .checkout--payment-forms---billing-toggle {
                width: 150px;
            }
        }
    }
}
