@import "../../style-guide";

.add-to-cart {
  position: fixed;
  bottom: 70px;
  right: 60px;
  border-radius: 50%;
  padding: 0.6em;
  background-color: $secondary-color;
  box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: transform ease-out 0.05s;
  }
}

.add-to-cart--menu {
  font-family: $font-secondary;
  font-size: 20px;
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 130px;
  border-radius: 10px;
  bottom: 145px;
  right: 10px;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.5);

  .quantity-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
    border-bottom: solid 1px;

    .quantity-minus--btn {
      background-color: #ffffff; /* Green */
      border: none;
      margin-right: 20px;
      padding: 5px 10px;
      box-shadow: none;
      box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.2);
    }
    .quantity-plus--btn {
      background-color: #ffffff; /* Green */
      border: none;
      margin-left: 20px;
      padding: 5px 10px;
      box-shadow: none;
      box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.2);
    }
  }

  .type-options {
    position: relative;
    display: inline-block;
    padding: 5px 0 12px 0px;
    border-bottom: solid 1.3px;

    .type-selector {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 5px;
      padding: 5px;
      width: 6em;
      border: solid 1px;
      border-radius: 10px;
      cursor: pointer;
    }

    .type-dropdown {
      display: block;
      background-color: white;
      position: absolute;
      text-decoration: none;
      list-style-type: none;
      z-index: 1;
      border-radius: 10px;
      box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.5);

      li {
        color: black;
        padding: 5px;
        width: 6em;
        text-decoration: none;
        display: block;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: $accent-color;
        }
      }
    }
  }

  .add-to-cart--btn {
    text-transform: capitalize;
    font-family: $font-primary;
    font-size: $font-size--small;
    border-radius: 10px;
    margin-top: 2px;
    width: 100%;
    background-color: $primary-color;
    cursor: pointer;
    box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.3);
  }

  .add-to-cart--btn---sold {
    text-transform: capitalize;
    font-family: $font-primary;
    font-size: $font-size--small;
    border-radius: 10px;
    margin-top: 2px;
    width: 100%;
    background-color: #DFECE2;
    cursor: pointer;
    box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.3);
  }

  .price-label {
    font-size: $font-size--small;
    padding: 10px 0px;
  }
}

.add-to-cart-toast--success {
  border-radius: 10px;
  box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.add-to-cart-toast--error {
  border-radius: 10px;
  box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

@media screen and (max-width: 899px) {
  .add-to-cart {
    right: 30px;
    bottom: 50px;
    padding: 16px;
  }

  .add-to-cart--menu {
    bottom: 120px;
    right: 0px;
  }
}
