.scroller {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y : scroll;
  padding-top: 15px;
  padding-right: 17px;
  text-align: center;
  margin-left: 3%;

  .scroller-item:last-of-type {
    margin-bottom: 1em;
  }
}