.scroller {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y : scroll;
  padding-top: 15px;
  padding-right: 17px;
  text-align: center;

  ::-webkit-scrollbar {
    display: none;
  }
}