.scroller {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    padding-top: 15px;
    //margin-left: 15px;
    align-items: center;
    // margin-left: 2%;

    .scroller-item:last-of-type {
        margin-bottom: 5%;
    }

    &::-webkit-scrollbar { width: 0 !important }
}
