@import "../../style-guide";

.about-page {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    
    .about-page--image {
        width: 100%;
        height: 45vh;
    }

    .about-page--description {
        font-family: $font-secondary;
        text-align: left;
        padding-bottom: 10px;
    
        h3 {
          font-family: $font-primary;
          margin-bottom: 0;
          font-size: $font-size--medium;
          padding-bottom: 0;
          text-align: center;
        }
    
        p {
          font-size: $font-size--smallest;
          margin:  2em 2em;
          line-height: 1.5em;
        }
    }
}
