@import "../../style-guide";

@media screen and (min-width: 901px) {
  .cart-item {
    position: relative;
    font-family: $font-secondary;
    font-size: $font-size--small;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 0;
    margin-left: 10%;
    margin-bottom: 1%;
    border-bottom: 2px solid;
    // background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      transition: transform ease-out 0.1s;
      transform: scale(1.004);
      background-color: rgba(255, 255, 255, 0.3);
    }

    .cart-item--remove-btn {
      display: none;
      position: absolute;
      top: 20px;
      right: 20px;
      height: 30px;
      width: 30px;
      cursor: pointer;
    }

    &:hover .cart-item--remove-btn {
      display: block;
    }

    .cart-item--image {
      height: 350px;
      width: 28vw;
      border-radius: 12px;
      margin-left: 5%;
      object-fit: cover;
    }


    .cart-item--content {
      flex-direction: column;
      text-align: center;
      width: 100%;

      .cart-item--title {
        font-family: $font-primary;
        font-size: $font-size--large;
        justify-content: center;
      }

      .cart-item--properties {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 2em;
        margin-top: 0.5em;

        .cart-item--properties---row-one {
          display: flex;
          flex-direction: column;
          padding: 1em 3em;
        }

        .cart-item--properties---row-two {
          display: flex;
          flex-direction: column;
          padding: 1em 3em;
        }

        .cart-item--property-header {
          padding: 10px 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .cart-item--title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $font-primary;
    font-size: 28px;
    text-align: center;
  }
  .cart-item {
    font-family: $font-secondary;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;

    .cart-item--image {
      width: 50vw;
      height: 200px;
      border-radius: 10px;
      margin-right: 15px;
      object-fit: cover;
    }

    .cart-item--properties {
      font-family: $font-secondary;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-left: 3%;

      .cart-item--total-price {
        margin-bottom: 15px;
      }

      .cart-item--property-type {
        margin-bottom: 15px;
      }

      .cart-item--property-quantity {
        margin-bottom: 25px;
      }

      .cart-item--remove-btn {
        text-align: center;
        padding: 10px 20px;
        background-color: $primary-color;
        width: 100px;
        margin-left: 10px;
        border-radius: 10px;
        box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }
    }
    
    @media screen and (max-width: 500px) {
      .cart-item{
        padding-bottom: 20px;
      }
      
      .cart-item--image {
        width: 50vw;
        height: 150px;
        margin-right: 20px;
      } 
      
    }
  }
}
