.page-selector {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  box-shadow: 0px 3px 4px rgba(0,0,0,.5);
  z-index: 999;
  cursor: pointer;
}

.drop-down {
  font-family: 'Dancing Script', cursive;
  position: absolute;
  text-align: center;
  right: -15.13em;
  top: 0;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px rgba(0,0,0,.5);
  background-color: white;
  width: 15em;

  .page-button {
    font-size: 35px;
    background-color: white;
    width: 100%;
    padding: .2em 0em;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    cursor: pointer;
    border-radius: 10px;

    @keyframes page-selected {
      from {
        background-color: white;
      }
      to {
        background-color: rgb(255, 240, 240);
      }
    }

    &:last-of-type {
      margin-bottom: 10px;
    }

    &:first-of-type {
      margin-top: 10px;
    }

    &:hover {
      animation-duration: .5s;
      animation-name: page-selected;
      animation-fill-mode: forwards;
    }
  }

  hr {
    width: 85%;
  }
}