.footer {
    font-family: 'ST Strong' sans-serif;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    background-color: rgba(255, 255, 255, .6);
}

.footer-element {
    display: flex;
    padding: 10px
}

@media screen and (min-width: 900px) {
    .footer-tag {
        padding-left: 2em;
    }    
}

.instagram-icon {
    font-size: 14px;
    padding-right: 15px;
}
