.Slogan {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.Linebreak {
    width: 90%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Linebreak:last-of-type {
    margin-bottom: 25px;
}

.WideBox {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    padding: 30px;
    text-align: center;
    background-color: rgba(224, 249, 255, .65);
}

.Boxes {
    padding-bottom: 25px;
}

.WideBoxPink {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    padding: 30px;
    text-align: center;
    background-color: rgba(255, 247, 247);
}

.TwoBoxesInline {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.InlineBoxGreen {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    box-sizing: border-box;
    width: 45%;
    padding: 30px;
    text-align: center;
    background-color: rgba(214, 255, 226, .65);
}

.InlineBoxYellow {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    box-sizing: border-box;
    width: 45%;
    padding: 30px;
    text-align: center;
    background-color: rgba(253, 252, 188, .65);
}

@media screen and (min-width: 800px) {
    .Boxes {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25px;
    }
}

@media screen and (min-width: 800px) {
    .Boxes {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 1000px) {
    .Boxes {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}