$primary-color: #FCFFB3;
$secondary-color: #8FD7E1;
$accent-color: #FFE2F3;
$alternate-color: #FFC95F;

$font-primary: 'Dancing Script', cursive;
$font-secondary: 'Lato', sans-serif;

$font-size--smallest: 18px;
$font-size--small: 24px;
$font-size--medium: 30px;
$font-size--large: 36px;
$font-size--largest: 48px;

$box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.5);
